body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:821px;
  width:1px;
  height:1px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:302px;
  width:272px;
  height:325px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:302px;
  width:272px;
  height:325px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFF00;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:645px;
  width:43px;
  height:16px;
  text-decoration:underline;
  color:#FFFF00;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
